<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1>Todo List</h1>
        <div id="list">
            <ul>
                <% todos.forEach(function(item) { %>
                    <% if (!item.taskComplete) { %>
                    <% } %>

                    <li>
                        <%= item.entry %>
                        <form action="/<%= item._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-default btn-block" >Delete</button>
                        </form>
                        <button class="btn btn-xs btn-default btn-block" href="/<%= item._id %>">show</button>
                    </li>
                    
                <% }); %>
            </ul>
            <div>
                <a href="/new">Add new todo</a>
            </div>
        </div>
    </div>
</div>


    
<% include ./partials/footer %>