<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1>Todo List</h1>
        <div>
            <ul>
                <% todos.forEach(function(item) { %>
                    <% if (!item.taskComplete) { %>
                    <% } %>

                    <div id="card">
                        <%= item.entry %>
                        <div>
                            <a class="todoOpt btn btn-xs btn-default" href="/<%= item._id %>">Details</a>
                            <form class="todoOpt" action="/<%= item._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-default" >Delete</button>
                            </form>
                        </div>
                        
                    </div>
                    
                <% }); %>
            </ul>
            <div>
                <a href="/new">Add new todo</a>
            </div>
        </div>
    </div>
</div>


    
<% include ./partials/footer %>