<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1>Todo List</h1>
        <div id="list">
            <p><%= todos %></p>
            <div>
                <a href="/new">Add new todo</a>
            </div>
        </div>
    </div>
</div>


    
<% include ./partials/footer %>