#new-form {
    /* width: 40%; */
    margin: 25px 10px 0 0;
    /* background-color: red; */
    text-align: center;
}
.container {
    width: 30%;
}

.todoOpt {
    display: inline;
    /* float: left; */
}

#card {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}